* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
   text-decoration: none;
}
header{
   min-height: 9vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #383c42
}
header h1{
   font-size: 2.5em;
   color: white
}
main{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(#52c2ff, #407dc9);
   
   display: flex;
   justify-content: center;
   
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

}

main form {
    margin-top:5%;
    width: 35%;
    height: 75vh;
    background-color: #383c42;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4) inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main form .inputs-container {
    margin-top: 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
main form .inputs-container input {
    width: 90%;
    height: 45px;
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;

    font-size: 16px;
    color: #312e42;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

}
main form .inputs-container input:focus {
    box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
}

main form .password-container {
    margin-top: 5%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main form .password-container i {
    position: absolute;
    right: 8%;
    top: 35%;
    color: #777;
    cursor: pointer;

}

main form .password-container #eye {
    display: none;
}
